/* styles.css */
.loaderAnimationContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.counterAnimContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
	position: relative;
	top: 6px;
}

.countdown {
	font-size: 3rem;
	text-align: center;
	margin: 0;
}

.loadingText {
	font-size: 1rem;
	font-weight: bold;
}

.svgContainer {
	position: absolute;
}
