/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	--nav-height: 80px;
	--page-width: 1080px;
   --tw-translate-x: none;
   --tw-translate-y: none;
   --tw-section-overlay: rgba(255, 0, 0, 0.5);
}

body {
   margin: 0;
   padding: 0;
   width: 100vw;
   overflow-x: hidden;
}

.wrapper {
   position: relative;
   width: 100vw;
   left: 50%;
   right: 50%;
   margin-left: -50vw;
   margin-right: -50vw;
}

@layer base {
	html {
		min-height: 100vh;
	}

	body {
      /* margin: 0;
      padding: 0;
      overflow-x: hidden; */
		/* @apply min-h-screen flex flex-col font-opensans; */
		@apply min-h-screen flex flex-col font-nunitosans;
		@apply bg-primary-50/20 min-h-screen text-primary-900;
		@apply dark:bg-gradient-to-t from-primary-950 to-primary-900 min-h-screen dark:text-primary-50;

      /* transform: translate(var(--tw-translate-x), var(--tw-translate-y)) */
	}

	main {
		@apply flex-1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		/* @apply font-baskerville text-primary-600 dark:text-primary-400 font-bold; */
      @apply font-garamond text-primary-600 dark:text-primary-400 font-bold;
	}

	p,
	span,
	div,
	li,
	a {
		/* @apply font-opensans; */
      @apply font-nunitosans;
	}

	h1 {
		@apply text-4xl mb-6;
	}
	h2 {
		@apply text-3xl mb-5;
	}
	h3 {
		@apply text-2xl mb-4;
	}
	h4 {
		@apply text-xl mb-3;
	}
	h5 {
		@apply text-lg mb-2;
	}
	h6 {
		@apply text-base mb-2;
	}
}

.content-wrapper {
   contain: layout paint;
   content-visibility: auto;
 }

 .fade-transition {
   transition: opacity 0.3s ease-in-out;
 }

 /* Solved the full screen width issue with GSAP parallax scrolling */
 .myMainContainer {
   /* transform: none !important; */
 }
